In [1]:
import pandas as pd
import numpy as np
v=pd.read_csv("C:\\Users\\Lenovo\\Downloads\\Data Analytics\\INC+5000+Companies+2019.csv\\INC 5000 Companies 2019.csv")

In [2]:
v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              5012 non-null   int64
 1   profile           5012 non-null   object
 2   name              5012 non-null   object
 3   url               5012 non-null   object
 4   state             5012 non-null   object
 5   revenue           5012 non-null   object
 6   growth_%          5012 non-null   float64
 7   industry          5012 non-null   object
 8   workers           5011 non-null   float64
 9   previous_workers  5012 non-null   int64
 10  founded           5012 non-null   int64
 11  yrs_on_list       5012 non-null   int64
 12  metro             4199 non-null   object
 13  city              5012 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 548.3+ KB

In [3]:
v.isnull().sum()

rank                  0
profile               0
name                  0
url                   0
state                 0
revenue               0
growth_%              0
industry              0
workers               1
previous_workers      0
founded               0
yrs_on_list           0
metro               813
city                  0
dtype: int64

In [4]:
v.head(10)

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia
5,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271.8 Million,14183.4118,Health,742.0,18,2009,1,Miami,Miami
6,7,https://www.inc.com/profile/bear-mattress,Bear Mattress,http://bearmattress.com,NJ,20.5 Million,13480.7310,Consumer Products & Services,12.0,1,2014,1,New York City,Hoboken
7,8,https://www.inc.com/profile/connected-solution...,Connected Solutions Group,http://csgstore.net,VA,23.3 Million,12700.6588,Telecommunications,72.0,1,2015,1,"Richmond, VA",Mechanicsville
8,9,https://www.inc.com/profile/providence-healthc...,Providence Healthcare Management,http://providencehcm.com,OH,225.9 Million,12564.5364,Health,60.0,10,2008,1,Cleveland,Cleveland
9,10,https://www.inc.com/profile/nom,NOM,http://thisisnom.co,CA,21.4 Million,11996.2964,Advertising & Marketing,37.0,5,2014,1,Los Angeles,Los Angeles

In [5]:
v["metro"].fillna("No Metro",inplace=True)

In [6]:
v.dropna(inplace=True)

In [7]:
v=v.reset_index()

In [8]:
v.isnull().sum()

index               0
rank                0
profile             0
name                0
url                 0
state               0
revenue             0
growth_%            0
industry            0
workers             0
previous_workers    0
founded             0
yrs_on_list         0
metro               0
city                0
dtype: int64

In [9]:
v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5011 entries, 0 to 5010
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             5011 non-null   int64
 1   rank              5011 non-null   int64
 2   profile           5011 non-null   object
 3   name              5011 non-null   object
 4   url               5011 non-null   object
 5   state             5011 non-null   object
 6   revenue           5011 non-null   object
 7   growth_%          5011 non-null   float64
 8   industry          5011 non-null   object
 9   workers           5011 non-null   float64
 10  previous_workers  5011 non-null   int64
 11  founded           5011 non-null   int64
 12  yrs_on_list       5011 non-null   int64
 13  metro             5011 non-null   object
 14  city              5011 non-null   object
dtypes: float64(2), int64(5), object(8)
memory usage: 587.4+ KB

In [10]:
v.head()

,index,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2,2014,1,No Metro,Albuquerque
4,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia

In [13]:
for i in range(len(v["name"])):
    k=v["revenue"][i]
    if "Milloin" in str(k):
        k=k.replace(" Million","")
        v.loc[i,"revenue"]=float(k)*1000000
    if "Billion" in str(k):
        k=k.replace(" Billion","")
        v.loc[i,"revenue"]=float(k)*1000000000

In [14]:
v.head()

,index,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36900000.0,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33600000.0,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24900000.0,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32400000.0,21849.8925,Consumer Products & Services,57.0,2,2014,1,No Metro,Albuquerque
4,4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22500000.0,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia

In [15]:
v.to_csv("INC_Comapnies.csv")